<?xml version="1.0"?>
<model>
  <name>Wall Drone</name>
  <version>1.0</version>
  <sdf version="1.6">wall_drone.sdf</sdf>

  <author>
    <name>tkddus21</name>
    <email>sangyeoni985@gmail.com</email>
  </author>

  <description>
    A simple wall model for drone simulation environments.
  </description>
</model>
