<?xml version="1.0"?>
<model>
  <name>distance_sensor</name>
  <version>1.0</version>
  <sdf version="1.6">distance_sensor.sdf</sdf>
  <author>
    <name>Custom</name>
    <email>none</email>
  </author>
  <description>
    A simple distance sensor model for measuring distances on the left and right sides of the drone.
  </description>
</model>
